<div class="basket-sector">
    <h3>Basket</h3>
    {{#if basket.items}}
        {{#each basket.items}}
            <p>Description: {{description}} <button data-quantity={{quantity}} data-index={{@index}} class="button tiny alert remove-item">Remove</button></p>
            <p>Quantity: {{quantity}} </p>
        {{/each}}
    {{else}}
        <p>Basket Is Empty</p>
    {{/if}}
    <button class="button small re-render">Get Items Again</button>
</div>